.productContainer {
  display: flex;
  width: 90%;
  flex: 1;
  margin: 0 auto;
  /* padding: 5px; */
  justify-content: space-evenly;
  align-items: flex-start;
  max-height: 100px;
  max-height: 120px;
  /* padding-bottom: 15px; */
}
.productContainer:hover {
  background-color: #feffbf;
}
.imgContainer {
  width: 100%;
}
.productContainer img {
  background-color: white;
  border-radius: 5px;
  width: 50%;
  height: 100px;
  object-fit: contain;
  border: 1px solid #ccc;
  padding: 10px;
}
.productContainer p {
  font-size: 20px;
}
.productContainer span {
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}

.discountDiv {
  /* position: relative; */
  display: flex;
  width: 100%;
  /* background-color: red; */
  align-items: center;
}

.discountSpan {
  color: #ff0547;
  width: 25px;
  margin: 5px;
  max-width: 35px;
  height: 5px;
  padding: 10px 5px;
  border-radius: 100%;
  font-size: 15px !important;
}
