.discardedContainer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 100%;
  background-color: #d9082b;
  width: 100%;
  margin: 5px;
  /* padding: 10px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.discardedContainer h1 {
  border-radius: 2px;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 18px;
}
.discardedContainer img {
  width: 30%;
  height: 30px;
}
.discardedContainer div {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: flex-start;
}

.discardedContainer span {
  font-size: 14px;
  align-self: center;

  padding-right: 20px;
}
.discardedContainer p {
  width: 150px;
  padding-right: 100px;
}
