.blackModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

.whiteModal {
  width: 80%;
  height: 80%;
  background-color: white;
  position: relative;
  overflow-y: scroll;
  padding: 25px;
}
.closeButton {
  top: 20px;
  right: 20px;
  position: absolute;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 45px;
  color: red;
  background-color: white;
  border-radius: 10px;
}
.closeButton:hover {
  color: pink;
}

.checkOutContainer {
  width: 100%;
  height: 10%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  /* background-color: yellow; */
}
.checkOutContainer span {
  width: 25px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  margin: 0px 2px;
  font-size: 18px;
  padding: 10px 15px;
}
.spanApproved {
  background-color: #94c06b;
}
.spanDiscarded {
  background-color: #d9082b;
}
.checkoutBtn {
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  position: relative;
  border-radius: 10px;
  width: 15%;
  height: 80%;
  font-size: 15px;
  background-color: #05aa6c;
  color: white;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  z-index: 11;
}
.checkoutBtn:hover {
  background-color: #d9082b;
}
.discardedApprovedCounter {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10px; */
  width: 15%;
}
@media only screen and (max-width: 800px) {
  .checkoutBtn {
    font-size: 12px;
  }
}
