.logo {
  width: 100%;
  background-color: #2c4f2d;
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  margin-top: -20px;
  position: fixed;
  z-index: 10;
}
.thefooter {
  min-height: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: white;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  background-color: #2c4f2d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: sticky; */
}
